body{
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#para1{
    color: blue;
    background-color: rgb(20, 100, 100);
    height: 100px;
}
#para2{
    color: rgb(12, 14, 121);
    background-color: dimgray;
    height: 100px;
}
#para3{
    color: white;
    background-color: darkslategray;
    height: 100px;
}
.para4{
    color: darkblue;
    background-color: burlywood;
    height: 100px;
}
/* style for divs */
#d1{
    color: rgb(15, 22, 2);
    background-color: rgb(132, 50, 148);
    height: 100px;
}
#d2{
    color: darkseagreen;
    background-color: rgb(54, 25, 100);
    height: 100px;
}